@import "style.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

$nav-height: 3rem;

.App {
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    //scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    nav {
        height: $nav-height;
    }
    .sections > * {
        scroll-behavior: smooth;
        scroll-snap-align: end;
        width: 100vw;
        height: calc(100vh - #{$nav-height});
        top: $nav-height;
        position: relative;
    }
}