$nav-height: 3rem;
$mainColor: black;
$hamColor: black;
$menuFgColor: white;
$navBgColor: linear-gradient(90deg, #FFFFFF, #6DD5FA, #2980B9);
$menuBgColor: linear-gradient(90deg, #6DD5FA, #2980B9);
$menuHover: cyan;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
* {
    padding: 0;
    margin: 0;

    font-family: 'Ubuntu', sans-serif;
}
.section-name {
    height: calc(100vh - #{$nav-height});
    font-weight: 900;
    position: absolute;
    transform: rotate(-90deg);
    display:flex;
    justify-content: center;
    align-items: center;
    left: 1rem;
    > div {
//         left: 5vw;
        position: absolute;
        padding: 0.25rem;
        background-color: white;
        border-radius: 0.25rem;
//             z-index: 2;
    }
    div.stripe {
        width: calc(100vh - #{$nav-height});
        height: 1px;
        position: absolute;
        z-index: -1;
        border-radius: 0;
    }
}
